*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}
.box{
    height: 500px;
    width: 300px;
}
.box:nth-child(1){background: red;}
.box:nth-child(2){background: blue;}
.box:nth-child(3){background: orange;}